<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6596914/7843172/css/fonts.css" />
  </head>

  <body class="<%= page_classes %>">
    <div class="navbar">
      <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'CFP', 'https://www.papercall.io/rulu-2017' %></li>
        <li><%= link_to 'We\'re looking for sponsors!', '/sponsor.pdf' %></li>
        <li><%= link_to 'Code of Conduct', '/coc/' %></li>
      </ul>
    </div>

    <%= yield %>
  </body>
  <%= javascript_include_tag  "application" %>
</html>
