---
title: RuLu 2017
---

<div class="container">
  <div class="hero">
    <%= image_tag 'lion.svg', class: 'lion' %>

    <div class="hero-text">
      <h1>
        <span class="conference-name">RuLu</span><br>
        is coming back soon
      </h1>

      <!--<form class="newsletter-form">
        <input type="email" placeholder="Your email address" />
        <input type="submit" value="Stay updated" class="button" />
      </form>-->

      <div class="archive">
        Archive:
        <ul class="archive-links">
          <li><%= link_to '2014', 'http://2014.rulu.eu'%></li>
          <li><%= link_to '2013', 'http://2013.rulu.eu'%></li>
          <li><%= link_to '2012', 'http://2012.rulu.eu'%></li>
          <li><%= link_to '2011', 'http://2011.rulu.eu'%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
