---
title: RuLu 2017
---

<div class="container">
  <div class="hero">
    <%= image_tag 'lion.svg', class: 'lion' %>

    <div class="hero-text">
      <h1>
        <span class="conference-name">RuLu</span><br>
        is coming back<br>
        soon in Lyon
      </h1>

      <form class="newsletter-form" action="//craftsmen.us7.list-manage.com/subscribe/post?u=aee53628420c3051e5f7dcc23&amp;id=6e7a38d79f" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" placeholder="Your email address" />
        <input type="submit" value="Stay updated" name="subscribe" class="button" />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aee53628420c3051e5f7dcc23_6e7a38d79f" tabindex="-1" value=""></div>
      </form>

      <div class="archive">
        Archive:
        <ul class="archive-links">
          <li><%= link_to '2014', 'http://2014.rulu.eu'%></li>
          <li><%= link_to '2013', 'http://2013.rulu.eu'%></li>
          <li><%= link_to '2012', 'http://2012.rulu.eu'%></li>
          <li><%= link_to '2011', 'http://2011.rulu.eu'%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
